<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>게시글 리스트</title>
    </head>
    <h2>게시판 목록</h2>
        <a href="/">홈</a><br>
    <div>게시글 갯수: <span th:text="${board.total}"></span></div>
    <body>
        <div class="layout"></div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">작성자</th>
              <th scope="col">제목</th>
              <th scope="col">업로드시간</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each = "post : ${board.list}">

              <td th:text = "${post.name}"></td>
              <td>
                <a th:text = "${post.title}" th:href="@{/boardview(bid=${post.bid})}"></a>
              </td>
              <td th:text = "${#dates.format(post.updateDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
            </tr>
          </tbody>
        </table>

        <th:block th:each="pagecnt : ${#numbers.sequence(startPage, endPage)}">

        <a th:if="${pagecnt != nowPage}" th:href = "@{/boardlist(pagecnt = ${pagecnt-1}, searchKeyword = ${param.searchKeyword})}" th:text = "${pagecnt}"></a>

        <strong th:if="${pagecnt == nowPage}" th:text = "${pagecnt}" style = "color : black"></strong>


        </th:block>
        <form th:action = "@{boardlist}" method = "get">
          <input type = "text" name="searchKeyword">
          <button type = "submit">검색</button><br>
        </form>
        <br>

      <a href ="/boardWrite">게시판 글쓰기</a><br><br>

    </body>
</html>
