<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>게시글 작성</title>
    </head>

    <style>
      .layout{
        width : 500 px;
        margin : 0 auto;
        margin-top : 40px;
      }
      .layout input {
        width : 100%;
        box-sizing: border-box;

      }
      .layout textarea{
        width : 100%;
        margin-top: 10px;
        min-height: 300px;
      }
    </style>

    <body>   
      <div class ="layout">
        <h1>
          이니랩스 게시판 
        </h1>
        <form method = "post" th:action = "@{/boardUpdate/{bid}(bid=${post.bid})}"> 
          <input name = "title" type ="text" placeholder="제목을 입력해주세요" th:value="${post.title}">
          <textarea name = "body" placeholder="내용을 입력해주세요" th:text="${post.body}"></textarea>
          <button type ="submit">수정</button><br>
          
          <span th:text="${errormessage}"></span><br>
          <a href="/">홈</a><br>
        </form>
      </div> 
    </body>
</html>        