<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>상세페이지</title>
    </head>
    <body>

        <h3>게시물 상세보기</h3>

        <h2>제목</h2>
        <h2 th:text="${post.title}"></h2>

        <h2>내용</h2>
        <h2 th:text ="${post.body}"></h2>

        <h3>작성시간 </h3>
        <h3 th:text ="${post.createAt}"></h3>
        <a href="/">홈</a><br>
        <a href="/boardlist">게시물 목록으로</a><br>
        <form method = "post" action = "/boardview" >

          <h4>
          답글달기
          </h4>

          <input name = "bid" type = "hidden" th:value = "${post.bid}"> 

          <input name = "contents" type ="text" placeholder="답글을 입력해주세요" th:value="${comment.contents}">

          <button type ="submit">댓글 작성</button><br>
          
          <span th:text="${errormessage}"></span><br>
          
      </form>
          
          <h4>댓글목록</h4>
        <table>
            <thead>
                <tr>
                  <th scope="col">작성자</th>
                  <th scope="col">내용</th>
                  <th scope="col">업로드시간</th>
                </tr>
              </thead>
        <tbody>

              <tr th:each = "comment : ${list}">

              <td th:text = "${comment.uid}"></td>

              <td>
                <a th:text = "${comment.contents}"></a>
              </td>

              <td th:text = "${#dates.format(comment.createAt, 'yyyy-MM-dd HH:mm:ss')}"></td>

              <td>
              <a th:href>삭제</a>
              </td>


              </tr>
              
          </tbody>
        </table>

    </body>
</html> 