<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>포스팅 성공</title>
    </head>
    <body>
        <span th:text="${id}"></span>님 의 포스팅이 완료되었습니다 <br>
        <a href="/boardWrite">글 새로쓰기</a><br>
        <a href="/boardlist">게시물 목록으로</a><br>
        <a href="/">홈으로</a>
    </body>
</html> 
