<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>thymeleaf sample</title>
    </head>
    <body>    
        <span th:text="${errormsg}"></span>
    </body>
</html>        