<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
    <div>
        <div>
        <h1>
          이니랩스  
        </h1>
        <p>회원가입 및 로그인 서비스</p>
        <span th:text="${uid}"></span>(<span th:text="${name}"></span>)님 반갑습니다!
        <p>
            <a href="/signon">회원가입</a>
            <a href="/login">로그인</a><br><br>
            <a href ="/boardWrite">게시판 글쓰기</a><br><br>
            <a href="/boardlist">게시물 목록으로</a><br>
            <a href ="/logout">로그아웃</a>

        </p>
    </div>
</div>
</form>
</body>   
</html>        