<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>로그인 실패</title>
    </head>
    <body>    
        <span th:text="${msg}"></span><br>
        <p>다시 입력하기</p>
        <a href="/login">로그인</a><br>
        <p>홈으로</p>
        <a href="/">홈</a><br>
    </body>
</html> 
