<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <title>InniLabs</title>
    </head>
    <body>    
        <form method="post" action="/signon">
            <table align="center" border="1" cellspacing="0" bordercolor="#99CCFF" height="250">
                <tr>
                    <th bgcolor="#99CCFF" colspan="2">회원기본정보</th>
                </tr>
        
                <tr>
                    <th bgcolor="EFEFEF">Name</th><td>&nbsp;<input type="text" name="name" placeholder="사용자 이름" th:value="${user.name}">&nbsp;</td>
                </tr>
                <tr>
                    <th bgcolor="EFEFEF">Email</th><td>&nbsp;<input type="email" name="email" placeholder="이메일을 입력해주세요" th:value="${user.email}">&nbsp;</td>
                </tr>
                <tr>
                    <th bgcolor="EFEFEF">UserId</th><td>&nbsp;<input type="text" name="uid" placeholder="ID를 입력해주세요" th:value="${user.uid}">&nbsp;</td>
                    </tr>
                    <tr>
                        <th bgcolor="EFEFEF">Password</th><td>&nbsp;<input type="password" name="password"  th:value="${user.password}">&nbsp;</td>
                        </tr>
                        </table><br/>
                        
                        <div align="center">
                            <input type="submit" value="회원등록하기"> <br/>
                            <span th:text="${error_message}" style="color:rgb(68, 255, 0)"></span>
                        </div>
    </form>
    </body>
</html>
