<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>thymeleaf sample</title>
    </head>
    <body>    
        <span th:text="${name}"></span>님 환영합니다.
        <p>회원가입이 완료되었습니다</p>
        <a href="/login">로그인 하러가기</a><br>
    </body>
</html>        