<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">        <title>thymeleaf sample</title>
    </head>
    <body>    
        uid:<span th:text="${author.uid}"></span><br/>
        name: <span th:text="${author.name}"></span><br/>    
        password: <span th:text="${author.password}"></span><br/>
        email: <span th:text="${author.email}"></span><br/>    
        createAt: <span th:text="${author.createAt}"></span><br/>    
    </body>
</html>
